@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/Duty/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#ORGANIZEID").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">归属组织</th>
                <td class="formValue">
                    <select id="ORGANIZEID" name="ORGANIZEID" class="form-control required">
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">班次名称</th>
                <td class="formValue">
                    <input id="FULLNAME" name="FULLNAME" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">班次编号</th>
                <td class="formValue">
                    <input id="ENCODE" name="ENCODE" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">显示顺序</th>
                <td class="formValue">
                    <input id="SORTCODE" name="SORTCODE" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="ALLOWEDIT" name="ALLOWEDIT" type="checkbox"><label for="ALLOWEDIT">允许编辑</label>
                    </div>
                    <div class="ckbox">
                        <input id="ALLOWDELETE" name="ALLOWDELETE" type="checkbox"><label for="ALLOWDELETE">允许删除</label>
                    </div>
                    <div class="ckbox">
                        <input id="ENABLEDMARK" name="ENABLEDMARK" type="checkbox" checked="checked"><label for="ENABLEDMARK">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">备注
                </th>
                <td class="formValue">
                    <textarea id="DESCRIPTION" name="Description" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">创建人员</th>
                <td class="formValue">
                    <input id="CREATORUSERID" name="CREATORUSERID" type="text" class="form-control" />
                </td>
            </tr>
            <tr>

                <th class="formTitle">创建时间</th>
                <td class="formValue">
                    <input id="CREATORTIME" name="CREATORTIME" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">修改人员</th>
                <td class="formValue">
                    <input id="LASTMODIFYUSERID" name="LASTMODIFYUSERID" type="text" class="form-control" />
                </td>

            </tr>
            <tr>
                <th class="formTitle">修改时间</th>
                <td class="formValue">
                    <input id="LASTMODIFYTIME" name="LASTMODIFYTIME" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</form>
