<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
   <!--<add name="TJWCCDbContext" connectionString="Server=39.98.190.133;Initial Catalog=WNW;User ID=sa;Password=sambo" providerName="System.Data.SqlClient" />-->
   <!--<add name="TJWCCDbContext" connectionString="Server=.;Initial Catalog=WNW;User ID=sa;Password=sambo@123" providerName="System.Data.SqlClient" />-->
   <add name="TJWCCDbContext" connectionString="Server=188.188.188.96;Initial Catalog=WNW;User ID=sa;Password=sambo" providerName="System.Data.SqlClient" />
   <!--<add name="TJWCCDbContext" connectionString="Server=10.150.200.63;Initial Catalog=WNW;User ID=sa;Password=sambo@123" providerName="System.Data.SqlClient" />-->
 <!--阿里云数据库-->
  <!--<add name="TJWCCDbContext" connectionString="Data Source=47.105.136.33:1521/tjnb;Persist Security Info=True;User ID=tjwater;Password=tjnb;"
        providerName="Oracle.ManagedDataAccess.Client"/>--> 
</connectionStrings>