<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="" />
  <!-- 软件名称 -->
  <add key="SoftName" value="NB-IoT水表集抄平台" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <!---<add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />-->
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />

  <!-- ================== 4：TJWCC平台参数 ================== -->
  <add key ="isHttp" value ="false" />
  <add key="PltIP" value="device.api.ct10649.com" />
  <!--<add key="PltIP" value="develop.api.ct10649.com" />-->
  <add key ="Port" value ="8743" />
  <add key ="AppId" value ="e33acf0ac10540bbbc8a57b307d0059a" />
  <add key ="AppPwd" value ="7798ed712ffe469abd9f1cc4c654ddae" />
  <!--<add key ="AppId" value ="eGEgzrFH_RtqLAy1sksiZtQH6Kwa" />
  <add key ="AppPwd" value ="ckk1abodYqfSidzN_jZ6Y8Corp4a" />-->
  <add key ="MakerID" value ="88d9b3c7d2a94fbb9ae3ebb35f2eba63" />
  <add key ="CertFile" value ="iot3rd.p12" />
  <add key ="CertPwd" value ="IoM@1234" />
  <!-- ================== 5：TJWCC平台下发命令用到的参数 ================== -->
  <add key ="callbackUrl" value ="http://39.98.190.133:9001/api/default" />        <!--命令状态变化通知地址-->
  <add key="serviceId" value="ServiceMessage" />       <!--要与 profile 中定义的 serviceId保持一致-->
  <add key ="method" value ="SET_DEVICE" />   <!--命令服务下具体的命令名称，要与profile 中定义的命令名保持一致-->

</appSettings>